@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewBag.Title = "Thank you for your input!";
}

@model RestaurantAssignment.Models.UserList 
    
        <body class="text-center">
            <h1>Thank you for submitting your fav restaurant!</h1>
        
            <br />
            <div class="text-center">
                Click <a asp-action="UserFoodieList">here</a> to see your restaurant list!
            </div>
        </body>